In [1]:
import pandas as pd

In [2]:
file_path = 'twcs.csv'
dataset = pd.read_csv('twcs.csv')

In [3]:
dataset.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [4]:
userTweetCount = dataset.groupby('author_id').size().reset_index(name='tweetCount')

In [5]:
topUsers = userTweetCount.sort_values(by='tweetCount', ascending=False)

In [6]:
print(topUsers.head())

           author_id  tweetCount
702677    AmazonHelp      169840
702679  AppleSupport      106860
702754  Uber_Support       56270
702746  SpotifyCares       43265
702709         Delta       42253

In [7]:
authorResCount = dataset.groupby('author_id')['response_tweet_id'].count().reset_index(name='response_count')

In [8]:
topAuthorsRes = authorResCount.sort_values(by='response_count', ascending=False)

In [9]:
print(topAuthorsRes.head())

           author_id  response_count
702677    AmazonHelp           85274
702679  AppleSupport           31564
702754  Uber_Support           18036
702759  VirginTrains           15235
702678   AmericanAir           14556

In [10]:
dataset['created_at'] = pd.to_datetime(dataset['created_at'])

In [11]:
tweetsByDate = dataset.groupby(dataset['created_at'].dt.date).size().reset_index(name='tweet_count')

In [12]:
print(tweetsByDate)

     created_at  tweet_count
0    2008-05-08            2
1    2010-02-16            1
2    2010-03-31            2
3    2010-07-05            2
4    2010-08-30            1
..          ...          ...
979  2017-11-29        53610
980  2017-11-30        53476
981  2017-12-01        53857
982  2017-12-02        46988
983  2017-12-03        38164

[984 rows x 2 columns]