In [ ]:
# Data Analysis (creating questions & stories) Week 5

In [1]:
import pandas as pd

In [2]:
file_path = 'twcs.csv'
data_set = pd.read_csv('twcs.csv')

In [4]:
data_set.head(10)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
7,11,sprintcare,False,Tue Oct 31 22:10:35 +0000 2017,@115713 This is saddening to hear. Please shoo...,NaN,12.0
8,12,115713,True,Tue Oct 31 22:04:47 +0000 2017,@sprintcare You gonna magically change your co...,"11,13,14",15.0
9,15,sprintcare,False,Tue Oct 31 20:03:31 +0000 2017,@115713 We understand your concerns and we'd l...,12,16.0

In [ ]:
'''
Data Analysis steps:
1. Define the question
2. Define the ideal data set
3. Obtain data
4. Clean the data
5. Exploratory Data Analysis
6. Statistical Prediction/modeling
7. Interpret results
8. Challenge results
9. Communicate results
10. Build a Data Product

'''

In [ ]:
'''
Example data question topics: focus on the right features of the data.
- airlines (delta, american airlines)
- telecommunication comapanies (t-mobile, sprint)
'''

In [ ]:
'''
TODO:
Create some questions based on the data 

Use python data analytical libraries and see if you can answer your questions or not

Organize your work by step-by-step 
'''